
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                项目名称
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/user">用户管理</a></li>
            <li><a href="/about">关于</a></li>
        </ul>
  
    </div>
</nav>
