
<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">用户管理</h4>
            </div>


                <form action="/user/save" method="post" id="form1">

                    <div class="modal-body">
                    <div class="form-group">
                        <input name="name" class="form-control" required placeholder="姓名">
                        <input name="age"  type="number" class="form-control" required placeholder="年龄">
                        <input name="birth"  type="date" class="form-control" required placeholder="出生日期">

                        <div class="form-control">
                            <input name="sex" value="1" type="radio" checked> 男
                            <input name="sex" value="2" type="radio"> 女
                        </div>

                        <input name="address" class="form-control" required placeholder="籍贯">
                        <input name="phone" class="form-control" required placeholder="电话">
                    </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="reset" class="btn btn-warning">重置</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>



        </div>
    </div>
</div>