<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('partials/head') %>
  </head>
  <body>
  	<%- include('partials/header') %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <%- include('partials/footer') %>
  </body>
</html>
<script type="text/javascript" src="/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript">
	
	$(function () {
		//alert('init');
	})
</script>
