<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('partials/head') %>
  </head>
  <body>
  	<%- include('partials/header') %>

    <div id="toolbar">
      <button class="btn btn-default add">新增</button>
      <button class="btn btn-default edit">修改</button>
      <button class="btn btn-default delete">删除</button>
    </div>
    <div id="table" data-show-refresh="true" data-search="true" data-toolbar="#toolbar"></div>


    <%- include('partials/modal') %>

    <%- include('partials/footer') %>
  </body>
</html>
<script type="text/javascript" src="/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/bootstrap-table.js"></script>
<script type="text/javascript" src="/bootstrap-table-locale-all.js"></script>
<script type="text/javascript">
	var $table = $('#table');
    //var data = $table.bootstrapTable('getSelections');

	$(function () {
		//alert('init');
    init();

    //reload();
	});

  function init() {
    $table.bootstrapTable({
      locale: 'zh-CN',
      columns: [
        { field: '', title: '', radio: true, align: 'center', width: '0%'},
        { field: 'id', title: '#', align: 'center', width: '5%'},
        { field: 'name', title: '姓名', align: 'center', width: '10%'},
        { field: 'age', title: '年龄', align: 'center', width: '10%', sortable: true },
        { field: 'sex', title: '性别', align: 'center', width: '10%', formatter: function (value,row) {
          return value===1? "男" : "女";
        }},
        { field: 'birth', title: '生日', align: 'center', width: '20%'},
        { field: 'address', title: '地址', align: 'center', width: '20%'},
        { field: 'phone', title: '电话', align: 'center', width: '20%'},
        { field: 'state', title: '状态', align: 'center', width: '5%'}
      ],
      url: '/user/data',
      method: 'post',
      striped: true,
      clickToSelect: true,
      pagination: true,
      sortStable: true,
      detailView: true
      //pageList: [10,20,30,50,100],
      //sidePagination: 'server'
    });
  }

  function reload() {
    $.ajax({
      url: '/user/data',
      type: 'post',
      success: function (data) {
        //console.log(typeof data);
        var rows = data.rows;
        //console.log(JSON.stringify(rows));
        $table.bootstrapTable('load', rows);
      },
      error: function (err) {
        console.log(err);
      }
    });
  }

  $('.add').click(function () {
//    $.ajax({
//      url: '/user/add',
//      type: 'post',
//      data: {name:'刘能',age:50,sex:1,birth:'1968-07-13',address:'辽宁沈阳',phone:'18822229999',state:1},
//      success: function (data) {
//        console.log(data);
//        if (data.code===1) {
//          window.location.href = '/user';
//          alert(data.message);
//        }
//      },
//      error: function (err) {
//        console.error(err);
//      }
//    });
    $('#addModal').modal('show');
  });

  $('.save').click(function () {
    //alert('保存');
    $('#addModal').modal('hide');
    var $form = $('#form1');
    $.ajax({
      url: '/user/save',
      type: 'post',
      data: $form.serializeArray(),
      success: function (data) {
        if (data.code === 1) {
          window.location.href = '/user';
          alert(data.message);
        }
      }
    })
  });

  $('.delete').click(function () {
    var data = $table.bootstrapTable('getSelections');
    if (data.length < 1) {
      alert('选择数据行');
      return false;
    }
    $.ajax({
      url: '/user/delete',
      data: {id: data[0].id },
      type: 'post',
      success: function (data) {
        if (data.code === 1) {
          window.location.href = '/user';
          alert(data.message);
        }
      },
      error: function (err) {
        console.error(err);
      }
    });
  });


</script>
